@font-face {
    font-family: "Vazir";
    src: url("../../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/Vazir.woff2") format("woff2"),
        url("../../fonts/Vazir.woff") format("woff"),
        url("../../fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
}

$dark-color: #171a1d;
$info-color: #10707f;
$white: #fff;

.btn-dark {
    color: $white;
    background-color: $dark-color;
    padding: 10px 15px;
    border: unset;
    outline: unset;
    font-family: 'Vazir' !important;
}

.text-info {
    color: $info-color;
    font-weight: 700;
}